/* generic */
.reorder-handle {
	font-size: 20px;
	cursor: move;
	color: gray;
	float: right;
}

.reorder-handle:hover {
	color: rgb(51, 51, 51);
}

i.rotate {
	display: inline-block;
	-webkit-animation: Rotate 500ms infinite linear;
	-moz-animation: Rotate 500ms infinite linear;
	-ms-animation: Rotate 500ms infinite linear;
	-o-animation: Rotate 500ms infinite linear;
	animation: Rotate 500ms infinite linear;
}
@-o-keyframes Rotate {
  from {-o-transform:rotate(0deg);}
  to {-o-transform:rotate(360deg);}
}
@-moz-keyframes Rotate {
 from {-moz-transform:rotate(0deg);}
 to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes Rotate {
  from {-ms-transform:rotate(0deg);}
  to {-ms-transform:rotate(360deg);}
}
@-webkit-keyframes Rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@-keyframes Rotate {
  from { transform:rotate(0deg);}
  to { transform:rotate(360deg);}
}

.clickable { cursor: pointer; }

.podlove-icon-ok     { color: green; }
.podlove-icon-remove { color: red; }
.podlove-icon-minus  { color: #999; }
.podlove-icon-edit   { text-decoration: none; margin-left: 6px; }

.podlove-contributor-edit { display: none; }

/* Dashboard */

div.podlove-dashboard-statistics-wrapper {
	width: 49%;
	display: inline-block;
}

td.podlove-dashboard-number-column {
	font-size: 1.2em;
	text-align: right;
	padding-right: 10px;
}

td.podlove-dashboard-number-column a, td.podlove-dashboard-number-column a:visited {
	text-decoration: none;
}

td.podlove-dashboard-total-number {
	border-top: 1px solid #bcbcbc;
}

table.podlove-dashboard-statistics td {
	padding: 3px;
}

/* Dashboard in Sidebar */

.inner-sidebar div.podlove-dashboard-statistics-wrapper {
	width: 100%;
	display: block;
}

/* Settings: Assets */
.episode_assets.wp-list-table .column-move {
	width: 50px;
}
.episode_assets.wp-list-table .column-downloadable {
	width: 100px;
}

.feeds.wp-list-table .column-move {
	width: 50px;
}
.feeds.wp-list-table .column-discoverable {
	width: 100px;
}

table#dashboard_feed_info {
	width: 100%;
}

table#dashboard_feed_info td.center {
	text-align: center;
}

/* Support */
.podlove_system_report {
	font-family: monospace;
	resize: none;
}

/* Media files */
table.podlove_alternating th {
	font-weight: bold;
	padding: 1px;
}

table.podlove_alternating {
	width: 100%;
	border-bottom: 1px solid #999;
}
table.podlove_alternating th {
	text-align: left;
	border-bottom: 1px solid #999;
}
table.podlove_alternating td {
	padding: 5px;
	height: 24px;
}
table.podlove_alternating tr:nth-child(even) {
	background: #EAEAEA;
}
#update_all_media_files {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 0 6px 0;
}
.base_url {
	color: #777;
	font-size: 0.9em;
}
.media_file_row .enable {
	text-align: center;
}
.subtitle_warning {
	float: left;
	font-weight: bold;
	padding-right: 10px;
}
.subtitle_warning .close {
	cursor: pointer;
}

.media_file_row .enable { width: 45px; }
.media_file_row .size   { width: 130px; }
.media_file_row .update { width: 90px; }

/* Contributors */
#add_new_contributor_selector {
	width: 250px;
}

#add_new_contributor_button {
	height: 25px;
	font-size: 1.5em;
}

#add_new_contributor_wrapper {
	width: 285px;
	margin: 5px 0px 0px 0px;
}

#contributors_table_body select {
	width: 180px;
}	

#contributors_table_body td {
	height: 40px !important;
}

span.contributor_remove {
	font-size: 1.6em;
}	

tr.row_podlove_feed_protection_password,
tr.row_podlove_feed_protection_user,
tr.row_podlove_feed_protection_type {
	display: none;
}

img.podlove-avatar {
	width: 50px;
}

input.podlove-contributor-field {
	width: 350px;
}

/* Podlove Podcast License */

#podlove_podcast_license_name,
#podlove_podcast_license_url {
	width: 400px;
}

div.podlove_cc_license, div.podlove_license, .podlove_podcast_license_image {
	display: block;
	width: 300px;
	text-align: center;
}

._podlove_episode_list_triangle,
._podlove_episode_list_triangle_expanded {
	width: 20px;
	font-size: 0.8em;
}

._podlove_episode_list_triangle_expanded {
	display: none;
}

span#podlove_cc_license_selector_toggle {
	font-weight: bold;
	cursor: pointer;
}

.row_podlove_cc_license_selector {
	display: none;
}

.row_podlove_cc_license_selector td div {
	padding: 0px 5px 5px 30px;
}

.row_podlove_cc_license_selector td div select {
	width: 190px;
}

label.podlove_cc_license_selector_label {
	font-style: italic;
	width: 240px;
	display: inline-block;
	clear: both;
}