/* generic */
.reorder-handle {
	font-size: 20px;
	cursor: move;
	color: gray;
	float: right;
}

.reorder-handle:hover {
	color: rgb(51, 51, 51);
}

i.rotate {
	display: inline-block;
	-webkit-animation: Rotate 500ms infinite linear;
	-moz-animation: Rotate 500ms infinite linear;
	-ms-animation: Rotate 500ms infinite linear;
	-o-animation: Rotate 500ms infinite linear;
	animation: Rotate 500ms infinite linear;
}
@-o-keyframes Rotate {
  from {-o-transform:rotate(0deg);}
  to {-o-transform:rotate(360deg);}
}
@-moz-keyframes Rotate {
 from {-moz-transform:rotate(0deg);}
 to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes Rotate {
  from {-ms-transform:rotate(0deg);}
  to {-ms-transform:rotate(360deg);}
}
@-webkit-keyframes Rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@-keyframes Rotate {
  from { transform:rotate(0deg);}
  to { transform:rotate(360deg);}
}

.clickable { cursor: pointer; }

.podlove-icon-ok     { color: green; }
.podlove-icon-remove { color: red; }
.podlove-icon-minus  { color: #999; }

/* Settings: Assets */
.episode_assets.wp-list-table .column-move {
	width: 50px;
}
.episode_assets.wp-list-table .column-downloadable {
	width: 100px;
}

.feeds.wp-list-table .column-move {
	width: 50px;
}
.feeds.wp-list-table .column-discoverable {
	width: 100px;
}

/* Support */
.podlove_system_report {
	font-family: monospace;
	resize: none;
}

/* Podlove Podcast License */

tr.row_podlove_podcast_license_url,
tr.row_podlove_podcast_license_name,
tr.row_podlove_podcast_license_cc_allow_modifications,
tr.row_podlove_podcast_license_cc_allow_commercial_use,
tr.row_podlove_podcast_license_cc_license_jurisdiction,
tr.row_podlove_podcast_license_preview {
	display: none;
}

div.podlove_cc_license, div.podlove_license {
	display: block;
	width: 300px;
	border: 1px solid #DDD;
	text-align: center;
	padding: 10px;
}

div.row__podlove_meta_license_name,
div.row__podlove_meta_license_url,
div.row__podlove_meta_license_cc_allow_modifications,
div.row__podlove_meta_license_cc_allow_commercial_use,
div.row__podlove_meta_license_cc_license_jurisdiction {
	display: none;
}

div.row__podlove_meta_license_name input,
div.row__podlove_meta_license_url input,
div.row__podlove_meta_license_cc_allow_modifications select,
div.row__podlove_meta_license_cc_allow_commercial_use select,
div.row__podlove_meta_license_cc_license_jurisdiction select {
	width: 240px;
}

div.row__podlove_meta_license_name div,
div.row__podlove_meta_license_url div,
div.row__podlove_meta_license_cc_allow_modifications div,
div.row__podlove_meta_license_cc_allow_commercial_use div,
div.row__podlove_meta_license_cc_license_jurisdiction div {
	display: inline-block;
	margin: 0px 0px 0.5em 0px;
}

div.row__podlove_meta_license_name label,
div.row__podlove_meta_license_url label,
div.row__podlove_meta_license_cc_allow_modifications label,
div.row__podlove_meta_license_cc_allow_commercial_use label,
div.row__podlove_meta_license_cc_license_jurisdiction label {
	width: 130px;
	display: inline-block;
	margin-left: 1em;
}

div.row__podlove_meta_license_type {
	margin: 0px 0px 1em 0px;
}