@font-face {
	font-family: 'Podlove';
	src:url('../fonts/Podlove.eot');
	src:url('../fonts/Podlove.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Podlove.woff') format('woff'),
		url('../fonts/Podlove.ttf') format('truetype'),
		url('../fonts/Podlove.svg#Podlove') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Podlove';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="podlove-icon-"] {
*/
.podlove-icon-reorder, .podlove-icon-ok, .podlove-icon-remove, .podlove-icon-minus, .podlove-icon-spinner, .podlove-icon-reply, .podlove-icon-share, .podlove-icon-time, .podlove-icon-repeat, .podlove-icon-plus, .podlove-icon-cloud-download, .podlove-icon-external-link, .podlove-icon-circle, .podlove-icon-cogs, .podlove-icon-ban-circle, .podlove-icon-heart, .podlove-icon-appdotnet, .podlove-icon-github, .podlove-icon-twitter, .podlove-icon-facebook, .podlove-icon-googleplus, .podlove-icon-pinterest, .podlove-icon-flattr, .podlove-icon-house, .podlove-icon-mail, .podlove-icon-cart {
	font-family: 'Podlove';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.podlove-icon-reorder:before {
	content: "\f0c9";
}
.podlove-icon-ok:before {
	content: "\f00c";
}
.podlove-icon-remove:before {
	content: "\f00d";
}
.podlove-icon-minus:before {
	content: "\f068";
}
.podlove-icon-spinner:before {
	content: "\f110";
}
.podlove-icon-reply:before {
	content: "\f112";
}
.podlove-icon-share:before {
	content: "\f045";
}
.podlove-icon-time:before {
	content: "\f017";
}
.podlove-icon-repeat:before {
	content: "\f01e";
}
.podlove-icon-plus:before {
	content: "\f067";
}
.podlove-icon-cloud-download:before {
	content: "\f0ed";
}
.podlove-icon-external-link:before {
	content: "\f08e";
}
.podlove-icon-circle:before {
	content: "\f111";
}
.podlove-icon-cogs:before {
	content: "\f085";
}
.podlove-icon-ban-circle:before {
	content: "\f05e";
}
.podlove-icon-heart:before {
	content: "\f004";
}
.podlove-icon-appdotnet:before {
	content: "\e000";
}
.podlove-icon-github:before {
	content: "\e001";
}
.podlove-icon-twitter:before {
	content: "\e002";
}
.podlove-icon-facebook:before {
	content: "\e003";
}
.podlove-icon-googleplus:before {
	content: "\e004";
}
.podlove-icon-pinterest:before {
	content: "\e005";
}
.podlove-icon-flattr:before {
	content: "\e006";
}
.podlove-icon-house:before {
	content: "\e007";
}
.podlove-icon-mail:before {
	content: "\e008";
}
.podlove-icon-cart:before {
	content: "\e009";
}
