/* generic */
.reorder-handle {
	font-size: 20px;
	cursor: move;
	color: gray;
	float: right;
}

.reorder-handle:hover {
	color: rgb(51, 51, 51);
}

i.rotate {
	display: inline-block;
	-webkit-animation: Rotate 500ms infinite linear;
	-moz-animation: Rotate 500ms infinite linear;
	-ms-animation: Rotate 500ms infinite linear;
	-o-animation: Rotate 500ms infinite linear;
	animation: Rotate 500ms infinite linear;
}
@-o-keyframes Rotate {
  from {-o-transform:rotate(0deg);}
  to {-o-transform:rotate(360deg);}
}
@-moz-keyframes Rotate {
 from {-moz-transform:rotate(0deg);}
 to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes Rotate {
  from {-ms-transform:rotate(0deg);}
  to {-ms-transform:rotate(360deg);}
}
@-webkit-keyframes Rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@-keyframes Rotate {
  from { transform:rotate(0deg);}
  to { transform:rotate(360deg);}
}

.clickable { cursor: pointer; }

.podlove-icon-ok     { color: green; }
.podlove-icon-remove { color: red; }
.podlove-icon-minus  { color: #999; }
.podlove-icon-edit   { text-decoration: none; margin-left: 6px; }

.podlove-contributor-edit { display: none; }

/* Settings: Assets */
.episode_assets.wp-list-table .column-move {
	width: 50px;
}
.episode_assets.wp-list-table .column-downloadable {
	width: 100px;
}

.feeds.wp-list-table .column-move {
	width: 50px;
}
.feeds.wp-list-table .column-discoverable {
	width: 100px;
}

/* Support */
.podlove_system_report {
	font-family: monospace;
	resize: none;
}

/* Media files */
table.podlove_alternating th {
	font-weight: bold;
	padding: 1px;
}

table.podlove_alternating {
	width: 100%;
	border-bottom: 1px solid #999;
}
table.podlove_alternating th {
	text-align: left;
	border-bottom: 1px solid #999;
}
table.podlove_alternating td {
	padding: 5px;
	height: 24px;
}
table.podlove_alternating tr:nth-child(even) {
	background: #EAEAEA;
}
#update_all_media_files {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 0 6px 0;
}
.base_url {
	color: #777;
	font-size: 0.9em;
}
.media_file_row .enable {
	text-align: center;
}
.subtitle_warning {
	float: left;
	font-weight: bold;
	padding-right: 10px;
}
.subtitle_warning .close {
	cursor: pointer;
}

.media_file_row .enable { width: 45px; }
.media_file_row .size   { width: 130px; }
.media_file_row .update { width: 90px; }

/* Contributors */
#add_new_contributor_selector {
	width: 250px;
}

#add_new_contributor_button {
	width: 30px;
	height: 25px;
	font-size: 1.5em;
}

#add_new_contributor_wrapper {
	width: 285px;
	margin: 5px 0px 0px 0px;
}

#contributors_table_body select {
	width: 180px;
}	

#contributors_table_body td {
	height: 40px !important;
}

span.contributor_remove {
	font-size: 1.6em;
}	

tr.row_podlove_feed_protection_password,
tr.row_podlove_feed_protection_user,
tr.row_podlove_feed_protection_type {
	display: none;
}

/* Podlove Podcast License */

tr.row_podlove_podcast_license_url,
tr.row_podlove_podcast_license_name,
tr.row_podlove_podcast_license_cc_allow_modifications,
tr.row_podlove_podcast_license_cc_allow_commercial_use,
tr.row_podlove_podcast_license_cc_license_jurisdiction,
tr.row_podlove_podcast_license_preview {
	display: none;
}

div.podlove_cc_license, div.podlove_license {
	display: block;
	width: 300px;
	text-align: center;
	padding: 10px;
}

div.row__podlove_meta_license_name,
div.row__podlove_meta_license_url,
div.row__podlove_meta_license_cc_allow_modifications,
div.row__podlove_meta_license_cc_allow_commercial_use,
div.row__podlove_meta_license_cc_license_jurisdiction,
div.row__podlove_podcast_license_preview {
	display: none;
}

div.row__podlove_meta_license_name input,
div.row__podlove_meta_license_url input,
div.row__podlove_meta_license_cc_allow_modifications select,
div.row__podlove_meta_license_cc_allow_commercial_use select,
div.row__podlove_meta_license_cc_license_jurisdiction select {
	width: 240px;
}

div.row__podlove_meta_license_name div,
div.row__podlove_meta_license_url div,
div.row__podlove_meta_license_cc_allow_modifications div,
div.row__podlove_meta_license_cc_allow_commercial_use div,
div.row__podlove_meta_license_cc_license_jurisdiction div {
	display: inline-block;
	margin: 0px 0px 0.5em 0px;
}

div.row__podlove_meta_license_name label,
div.row__podlove_meta_license_url label,
div.row__podlove_meta_license_cc_allow_modifications label,
div.row__podlove_meta_license_cc_allow_commercial_use label,
div.row__podlove_meta_license_cc_license_jurisdiction label {
	width: 130px;
	display: inline-block;
	margin-left: 1em;
}

div.row__podlove_meta_license_type {
	margin: 0px 0px 1em 0px;
}

td.podlove-avatar-column, th.podlove-avatar-column {
	width: 45px;
}

td.podlove-contributor-column {
	white-space: nowrap;
}