ul.episode_download_list {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.episode_download_list li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0 4px;
}