ul.episode_download_list {
	list-style-type: none;
	display: inline-block;
	margin: 0 0 20px 0;
	padding: 0;
}

ul.episode_download_list li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0 8px 0 0;
}

/***
   * This button has been copied from
   *   https://github.com/samcollins/css-social-buttons/blob/master/css/zocial.css
   * by Sam Collins (@smcllns) of www.eventasaur.us
   ***/
ul.episode_download_list a {
  border: 1px solid #777;
  border-color: rgba(0,0,0,0.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0,0,0,0.4);
  color: #fff;
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  cursor: pointer;
  display: inline-block;
  font: bold 95%/1.8 "Lucida Grande", Tahoma, sans-serif;
  padding: 0 .95em 0 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  position: relative;
  z-index: 100;

  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  background-color: #60af00;
}
ul.episode_download_list a:before {
  content: "⬇";
  width: 1em;
  border-right: 0.075em solid rgba(0,0,0,0.1);
  float: left;
  font: 125%/1.4 sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: none;

  -moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);

  -webkit-font-smoothing: antialiased;
}
ul.episode_download_list a:active {
  outline: none; /* outline is visible on :focus */
}
ul.episode_download_list a {
  background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
  background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
  background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
  background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
}

ul.episode_download_list a:hover, ul.episode_download_list a:focus {
  background-image: -moz-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: -ms-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: -o-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(49%, rgba(255,255,255,.15)), color-stop(51%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
  background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
}

ul.episode_download_list a:active {
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, transparent), to(rgba(0,0,0,.1)));
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
  background-image: linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
}

ul.episode_download_list a .size {
  padding-left: 0.5em;
  font-size: 75%;
  font-weight: 500;
  white-space: nowrap;
}

.episode_downloads select {
  font-size: 18px;
  display: inline;
}


.episode_downloads button {
  margin-left: 10px;
}

div.podlove_cc_license {
  display: block;
  text-align: center;
}

ul.podlove-donations-list, ul.podlove-social-list {
  margin: auto 0px auto 0px;
}

ul.podlove-donations-list li a, ul.podlove-social-list li a, img.podlove-contributor-button, ul.podlove-donations-list li, ul.podlove-social-list li {
  width: 20px;
  height: 20px;
}

ul.podlove-donations-list li a, ul.podlove-social-list li a {
  display: block;
}

ul.podlove-donations-list li, ul.podlove-social-list li {
  display: inline-block;
  line-height: 20px;
  list-style-type: none;
  margin-right: 5px;
}