[submodule "lib/modules/podlove_web_player/player_v2/player"]
	path = lib/modules/podlove_web_player/player_v2/player
	url = https://github.com/podlove/podlove-web-player.git
	branch = version-2.x-master
