.DS_Store
.tags*
.wordpress_release
*.sublime-*
*.code-workspace
wprelease.yml
composer.phar
js/node_modules
client/node_modules
vendor/*
vendor-*/*
test/config.yml
doc
.htaccess
Mix.json
mix-manifest.json
*.log
.vscode
dist
js/dist
lib/modules/podlove_web_player/player_v2/
.php_cs.cache
.php-cs-fixer.cache
.build/wp*
/.vs
