<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        'yoda_style' => false,
        'array_syntax' => ['syntax' => 'short'],
        'trailing_comma_in_multiline_array' => false,
        'no_trailing_comma_in_singleline_array' => true
    ])
    ->setFinder($finder)
;
