<phpunit 
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
  <testsuites>
    <testsuite>
      <directory suffix="_test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="PODLOVE_LOG_LEVEL" value="250"/>
  </php>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">lib/modules/seasons/model</directory>
    </whitelist>
  </filter>
  <!-- 
  <logging>
    <log type="coverage-html" target="/srv/www/podlove-publisher/htdocs/wp-content/coverage/report" lowUpperBound="35"
         highLowerBound="70"/>
  </logging>
   -->
</phpunit>