<phpunit 
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
  <testsuites>
    <testsuite>
      <directory suffix="_test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="PODLOVE_LOG_LEVEL" value="250"/>
  </php>
</phpunit>