<ul class="podlove-contributors">
{% for contributor in episode.contributors({group: group, role: role}) %}
	{% if contributor.visible %}
		<li>
			{% if option.avatars == "yes" %}
				<span class="avatar">
					{{ contributor.image.html({width: size, height: size, class: "avatar avatar-" ~ size ~  " photo" alt="avatar" }) }}
				</span>
			{% endif %}
			<span class="name">{{ contributor.name }}</span>
		</li>
	{% endif %}
{% endfor %}
</ul>