<ul class="podlove-contributors">
{% for contributor in episode.contributors %}
	{% if contributor.visible %}
		<li>
			{% if avatars == "yes" %}
				<span class="avatar">{% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 18} only %}</span>
			{% endif %}
			<span class="name">{{ contributor.name }}</span>
		</li>
	{% endif %}
{% endfor %}
</ul>