<ul class="podcast_services">
{% for service in podcast.services %}
	<li>
    	<a href="{{ service.profileUrl }}" title="{{ service.description }}">
    		<img src="{{ service.logoUrl }}" width="16" height="16" /> {{ service.title }}
        </a>
    </li>
{% endfor %}
</ul>

<style>
.podcast_services {
	vertical-align: middle;
}

.podcast_services li {
	list-style: none;
}
</style>