{% if is_feed() %}

	{% include '@shownotes/plain-html-list.twig' %}

{% else %}

	<style>
		.psn-entry {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.psn-icon {
			width: 16px;
			height: 16px;
			margin-right: 5px;
		}
		a.psn-link {
			text-decoration: none !important;
		}
	</style>

	<ul>
		{% for entry in episode.shownotes %}
			<li class="psn-entry">
				{% if entry.type == "link" %}
					{% if entry.icon %}
						<img class="psn-icon" src="{{ entry.icon }}"/>
					{% endif %}
					<a class="psn-link" href="{{ entry.url }}">{{ entry.title ? entry.title : entry.url }}</a>
				{% elseif entry.type == "topic" %}
					<strong>{{ entry.title }}</strong>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endif %}
