{% set related_episodes = episode.relatedEpisodes %}

{% if related_episodes %}

	{% if option.before %}
		{{ option.before }}
	{% endif %}	

	<ul>
	{% for related_episode in related_episodes %}
		<li>
			<a href="{{ related_episode.url }}">{{ related_episode.title }}</a>
		</li>
	{% endfor %}
	</ul>

{% endif %}
