{% spaceless %}
<form action="#">
 <div class="episode_downloads">
    <select name="download_media_file">
    {% for file in episode.files %}
        {% set asset = file.asset %}
        {% if asset.downloadable %}
            <option value="{{ file.id }}" data-raw-url="{{ file.url }}">{{ asset.title }} [{{ file.size|formatBytes }}]</option>
        {% endif %}
    {% endfor %}
    </select>
    <button class="primary">Download</button>
    <button class="secondary">Show URL</button>
 </div>
</form>
{% endspaceless %}