name: Release to WordPress.org
on:
  push:
    tags:
      - "*"
      - "!*-beta"
jobs:
  tag:
    name: New tag
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build
      run: |
          make install_php_scoper
          make build
          npm run publish:workspace
    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@master
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: podlove-podcasting-plugin-for-wordpress
